body{
    margin:  0;
    padding: 0;
    display: flex;
    min-height: 80vh;
    align-items: center;
    justify-content: center;
    background-color: #F8F9F9;
    font-family: sans-serif;
}
.container{
    text-align: center;
}

.page{
    
width:350px;
background: #fff;
border-radius: 5px;
padding-bottom: 15px;
}
.logo{
  display:block;
margin: 0 auto 5px;
}
form{
 width: 75%;
display: flex;
flex-direction: column;
position: relative;
left: 50%;
transform: translateX(-50%);   
}
form input {
margin-bottom: 5px;
border:1px solid #b6b6b6;
background:  #faf9f9;
border-radius: 3px;
outline: none;
padding-left: 10px;
position: relative;
height: 35px;
    
}

form button{    
border: none;
background: rgb(76, 180, 248);
padding: 8px 0;
margin-top: 10px;
color: #fff;
border-radius: 7px;
font-weight: bold;
text-transform: capitalize;
letter-spacing: 1px;
outline: none;
cursor: pointer;
}
form button:active{
background:  rgb(24, 119, 242);
transform: scaleX(0.995);  
}
form.option{
color:#b6b4b4;
margin: 70px ;
position:relative;
}
form .option::before{
position: absolute;    
content:  '';
width: 37%;
height: 1px;
background:#b6b6b6; 
left:0%;
top: 95%;
transform: translateY(-50%);
border-radius: 50px;

}
form .option::after{
position: absolute;    
content:  '';
width: 37%;
height: 2px;
background:#b6b6b6; 
right:0%;
top: 95%;
transform: translateY(-50%);
border-radius: 50px;

}
.fblink{
    margin-top: 30px;
    width: 100%
}
.fblink span{
    font-size: 18px;
    color: rgb(56, 81, 133);
    margin-right: 5px;
    
}
.fblink a{
  text-decoration: none;
font-weight: bold;
color: rgb(56, 81, 133);
}
.forget-id{
    margin: 15px;   
}
.forget-id a{
    text-decoration: none;
    color: rgb(56, 81, 133);
    font-size: 12px;
    font-weight: 500;
    
}
.page .singup{
    position:relative;
    border:1px solid #b6b6b6;
    border-radius: 2px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 25px;
}
.singup a{
    text-decoration: none;
    margin-left: 5px;
    color : rgb(76, 180, 248);
    font-weight: bold;
    
}
